<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>@ViewData["Title"] - Blog Project</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


    <!--  Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <!--Bootstrap Custom CSS-->
    <link href="~/css/Custom.css" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    <!--SummmerNote-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container-fluid">

            <div class="row justify-content-center align-items-center">
                <div class="col-xl-11 d-flex align-items-center justify-content-between">
                    @*<h1 class="logo"><a asp-controller="Home" asp-action="Index">Benjamin's Blog</a></h1>*@
    @*                <h1 class="logo">Benjamin's Blog</h1>*@
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <img src="/images/bloglogo.png" alt="" class="img-fluid" style="height: 240px !important;" />

                    <nav id="navbar" class="navbar">
                   
                        <ul>
                            <li> <a asp-controller="Home" asp-action="Index" class="nav-link btn btn-link text-dark">Home</a></li>
                            <li>    <a asp-controller="Home" asp-action="Contact" class="nav-link btn btn-link text-dark">Contact</a></li>
                            <li>    <a asp-controller="Home" asp-action="About" class="nav-link btn btn-link text-dark">About</a></li>
                            @if (User.IsInRole("Administrator"))
                            {
                                <li><a asp-controller="Blogs" asp-action="Create" class="nav-link btn btn-link text-dark">Create Blog</a></li>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <li><a asp-controller="Posts" asp-action="Create" class="nav-link btn btn-link text-dark">Create Post</a></li>
                            }

                             @*      <li class="dropdown">
                            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                            <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            </ul>
                            </li>*@

                            <partial name="_LoginPartial" name="DisplayName" />

                        </ul>
                    </nav>
                    <!-- .navbar -->



                </div>
            </div>

        </div>
    </header><!-- End Header -->
    <!-- Navigation End -->
  
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="jumbotron jumbotron-fluid mb-5">
                <div class="container text-center py-5">
                    <h1 class="text-primary mb-4">Benjamin Baker</h1>
                    <h1 class="text-white  mb-5">A Custom Web Applicaiton Using .Net MVC & Bootstrap</h1>
                    <div class="mx-auto" style="width: 100%; max-width: 600px;">
                        <form class="d-flex" asp-action="SearchIndex" asp-controller="Posts">
                            <input class="form-control border-light" type="search" style="padding: 30px;" placeholder="Search Blogs"
                                   aria-label="Search" name="SearchTerm">
                            <button class="btn btn-primary px-3" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

      
      
    </main>

    <div class="container">
        @RenderBody()
    </div>



    <!-- End Breadcrumbs -->
    <!-- Header End -->
    <!-- Main Content -->




    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h3>Benjamin's Blog</h3>
                        <p>
                           
                        </p>
                    </div>



              @*      <div class="col-lg-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>
                           
                        </p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>*@

                </div>
            </div>
        </div>



    </footer><!-- End Footer -->
    <!-- Footer End -->
    <!-- Back to Top -->
    <!-- JavaScript Libraries -->
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <!--Sweet Alert 2 CDN-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--SummerNote Script-->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>


    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>